config SND_VIRT_SOC_I2S
	tristate "SoC Audio support for the VIRT I2S module"
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  Say Y or M if you want to add support for codecs attached to
	  the VIRT I2S interface. You will also need
	  to select the audio interfaces to support below.
